body {
  display: flex;
  flex-direction: column;
  background: rgb(5, 5, 41);
  align-items: center;
}

.border {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: rgb(255, 255, 255);
  height: auto;
  border-radius: 5%;
}

#count-el {
  font-size: 70px;
  font-weight: bold;
}

#increment-btn {
  background: rgb(7, 7, 66);
  color: bisque;
  padding: 5px;
  border-radius: 5%;
}

#decrement-btn {
  background: rgb(13, 160, 86);
  color: bisque;
  padding: 5px;
  border-radius: 5%;
}

.butt {
  padding-bottom: 10px;
}

#save-btn {
  margin-top: 10px;
  padding: 7px;
  background: yellow;
  border-radius: 5px;
}
